*{
   margin: 0;
   padding: 0;
}

body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color : #010628;
}

header{
    height:150px;
    grid-column: 1/13;
    grid-template-columns: repeat(12,1fr);   
}

